@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?qookww');
  src:  url('/fonts/icomoon.eot?qookww#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?qookww') format('truetype'),
    url('/fonts/icomoon.woff?qookww') format('woff'),
    url('/fonts/icomoon.svg?qookww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-play:before {
  content: "\e90f";
  color: #FF0000;
}
.icon-feed:before {
  content: "\e900";
}
.icon-rss:before {
  content: "\e900";
  color: #ee802f;
}
.icon-envelope:before {
  content: "\e901";
}
.icon-tags:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-laptop:before {
  content: "\e905";
}
.icon-file-powerpoint-o:before {
  content: "\e906";
}
.icon-google-plus-circle:before {
  content: "\e907";
}
.icon-google-plus-official:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
  color: #00acee;
}
.icon-github:before {
  content: "\e90a";
  color: #171515;
}
.icon-facebook-official:before {
  content: "\e90b";
  color: #3b5998 ;
}
.icon-google:before {
  content: "\e90c";
  color: #4285F4;
}
.icon-slack:before {
  content: "\e90d";
  color: #ECB22E;
}
.icon-meetup:before {
  content: "\e90e";
  color: #e51937;
}
.icon-linkedin:before {
  content: "\eaca";
  color: #0e76a8;
}
