---
---
@import '../_sass/_vars/colors';
@import '../_sass/_vars/sizes';

@import '../_sass/_base/base';

@import '../_sass/_includes/top-bar';
@import '../_sass/_includes/nav';
@import '../_sass/_includes/social-links';
@import '../_sass/_includes/image';

@import '../_sass/_layouts/projects';
@import '../_sass/_layouts/home';