---
layout: default
---

{% for meetup in site.data.meetup %}
  <section class="pdt-50 pdb-50">
    <div class="column panel-meetup">
      <div class="meetup">
        <h1 class="meetup-name">{{ meetup.title }}</h1>
        <p class="meetup-episode">/Episode {{ meetup.episode }}, {{ meetup.date | date: '%Y' }}</p>
        <date class="meetup-date">{{ meetup.date | date: '%B %d, %Y' }}</date>
        <date class="meetup-time">
          {{ meetup.start_time }} - {{ meetup.end_time }}
        </date>
        <h2 class="meetup-venue">{{ meetup.venue }}</h2>
        <p class="meetup-address">{{ meetup.address }}</p>
      </div>
    </div>
    <div class="column panel-schedule">
      <ol class="sessions">
        {% for session in meetup.sessions %}
          <li class="session">
            <h3 class="session-number">session #{{ session.id }}</h3>
            <hr class="session-splitter">
            <h2 class="session-title">{{ session.title }}</h2>
            <p class="session-time">{{ session.time }}</p>
            <p class="session-description">
              {{ session.description }}
            </p>
            <ol class="speakers session-speaker">
              <li class="speaker">
                {% avatar user=session.github_username size=80 %}
                <h2 class="speaker-name">{{ session.speaker }}</h2>
                <p class="speaker-designation-and-workplace">{{ session.designation }}</p>
              </li>
            </ol>
          </li>
        {% endfor %}
      </ol>
      <div class="panel-sponsors-and-supporters">
        <hr class="sponsors-and-supporters-splitter">
        <h2 class="sponsors-and-supporters-heading">Venue Sponsor</h2>
        <ol class="sponsors">
          <li class="sponsor">
            <img class="sponsor-logo" src="{{ meetup.venue_sponsor_logo }}" alt="{{ meetup.venue_sponsor_company_name }}">
          </li>
        </ol>
        {% if meetup.supporters %}
          <hr class="sponsors-and-supporters-splitter">
          <h2 class="sponsors-and-supporters-heading">Supporters</h2>
          <ol class="supporters">
            {% for supporter in meetup.supporters %}
              <li class="supporter">
                <img class="supporter-logo" src="{{ supporter.logo }}" alt="{{ supporter.company_name }}">
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}
