<script src="{{ root_url }}/javascripts/md5.js"></script>
<script type="text/javascript">
  $(function(){
    $('.profile_img').each(function(){
      this.src = 'http://www.gravatar.com/avatar/' + MD5(this.getAttribute('data-email')) + '?s=140';
    });
  });
</script>
<div class="members">
  <h2>Founder Members and Developers of RubyNepal.org</h2>
  {% for member in site.founders %}
    {% include member.html %}
  {% endfor %}
</div>
<p class="clearfix"/></p>
<div class="members">
  <h2>Advisors and Mentors</h2>

  {% for member in site.advisors %}
    {% include member.html %}
  {% endfor %}
   
</div>

<br class="clearfix" />
