# https://jekyllrb.com/docs/continuous-integration/travis-ci/
language: ruby
cache:
  bundler: true
  directories:
    # https://github.com/gjtorikian/html-proofer/wiki/Using-HTMLProofer-From-Ruby-and-Travis
    - $TRAVIS_BUILD_DIR/tmp/.htmlproofer #https://github.com/gjtorikian/html-proofer/issues/381
    # https://blog.travis-ci.com/2013-12-05-speed-up-your-builds-cache-your-dependencies/
    # - node_modules
    # - tmp/cache/assets/test/sprockets

# gemfile: docs/Gemfile
rvm:
  - 2.6.2
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head

# before_script:
#  - chmod +x ./script/cibuild # or do this locally and commit

before_install: gem install bundler
# install: gem install jekyll html-proofer

script:
  - bundle exec rake default

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
# script: ./script/cibuild
# script: jekyll build && htmlproofer ./_site

# branch whitelist, only for GitHub Pages
# branches:
#   only:
#   - gh-pages     # test the gh-pages branch
#   - /pages-(.*)/ # test every branch which starts with "pages-"

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

addons:
  apt:
    packages:
    - libcurl4-openssl-dev # required to avoid SSL errors

sudo: false # route your build to the container-based infrastructure for a faster build
