# https://jekyllrb.com/docs/continuous-integration/travis-ci/
language: ruby
cache: bundler
# gemfile: docs/Gemfile
rvm:
  - 2.5.1

# before_script:
#  - chmod +x ./script/cibuild # or do this locally and commit

# install: gem install jekyll html-proofer

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
# script: ./script/cibuild
# script: jekyll build && htmlproofer ./_site

# branch whitelist, only for GitHub Pages
# branches:
#   only:
#   - gh-pages     # test the gh-pages branch
#   - /pages-(.*)/ # test every branch which starts with "pages-"

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false # route your build to the container-based infrastructure for a faster build
