# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Ruby Nepal
email:
subtitle: Nepal Ruby Community
description: >- # this means to ignore newlines until "baseurl:"
  We are Ruby community of Nepal.
  The aim of this community is to support, encourage and spread the use and adoption of the Ruby programming language in Nepal,
   and to develop a vibrant community around the language and related technologies.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.rubynepal.org" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: "ruby_nepal"
github_username: "rubynepal"
youtube_channelname: "UCoRCDWyFmaby7F4qWRUHgAQ"
paginate: 5
paginate_path: "/blog/page:num/"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-paginate

sass:
    sass_dir: _sass
    style: compressed
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
