# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: RubyNepal
email: info@rubynepal.org
subtitle: Nepal Ruby Community
description: >- # this means to ignore newlines until "baseurl:"
  We are Ruby community of Nepal.
  The aim of this community is to support, encourage and spread the use and adoption of the Ruby programming language in Nepal,
   and to develop a vibrant community around the language and related technologies.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.rubynepal.org" # the base hostname & protocol for your site, e.g. https://example.com
permalink: /blog/:title
paginate: 5
paginate_path: "/blog/page:num/"

# Build settings
markdown: kramdown
plugins:
  - jekyll-analytics
  # - jekyll-autolink_email
  - jekyll-email-protect
  - jekyll-feed
  - jekyll-paginate
  - jekyll-avatar
  - jekyll-twitter-plugin
  - jekyll-youtube

sass:
  sass_dir: _sass
  style: compressed

defaults:
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post
      categories: ""
      tags: ""

jekyll_admin:
  hidden_links:
    # - posts
    # - pages
    # - staticfiles
    # - datafiles
    # - configuration

jekyll_analytics:
  GoogleAnalytics:
    id: UA-118283876-1
    anonymizeIp: false

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - Rakefile
  - Guardfile
  - node_modules

social:
  usernames:
    twitter: &twitter_username "ruby_nepal"
    github: &github_username "rubynepal"
    facebook: &facebook_username "RubyNepal.org"
    slack: &slack_username "rubynepal"
    meetup: &meetup_username "Nepal-Ruby-Users-Group"
    youtube: &youtube_channelname "@RubyNepal"
    linkedin: &linkedin_username "RubyNepal"
  links:
    - title: Twitter
      url: https://twitter.com/
      icon: icon-twitter
      username: *twitter_username
    - title: GitHub
      url: https://github.com/
      icon: icon-github
      username: *github_username
    - title: YouTube Channel
      url: https://www.youtube.com/
      icon: icon-youtube-play
      username: *youtube_channelname
    - title: Facebook
      url: https://www.facebook.com/
      icon: icon-facebook-official
      username: *facebook_username
    # - title: Slack
    #   url: https://rubynepal.slack.com/
    #   icon: icon-slack
    #   username: *slack_username
    # - title: Meetup
    #   url: https://www.meetup.com/Nepal-Ruby-Users-Group/
    #   icon: icon-meetup
    #   username: *meetup_username
    - title: Linkedin
      url: https://linkedin.com/groups/
      icon: icon-linkedin
      username: *linkedin_username
    - title: Subscribe
      url: /feed.xml
      icon: icon-rss
