---
layout: default
excerpt_separator: "more"
---

<section class="articles pdt-50 pdb-50">
  {% for post in site.posts %}
  <div class="column is-10 is-offset-1">
    <div class="card article">
      <div class="card-content">
        <div class="media">
          <div class="media-content has-text-centered">
            <p class="title article-title"><a href="{{post.url}}">{{ post.title}}</a></p>
            <p class="subtitle is-6 article-subtitle">
              <i class="fas fa-calendar-alt"></i> {{ post.date | date: "%-d %B, %Y"}}
            </p>
          </div>
        </div>
        <div class="content article-body">
          <p>{{ post.excerpt }} <a href="{{post.url}}" class="rnw-link">See More</a></p>
        </div>
      </div>
    </div>
    {% include author-category-box.html %}
  </div>
  {% endfor %}
</section>