body {
  font-family: 'Vollkorn', serif;
  background: #EFF3F4;
}
.is-horizontal-center {
  justify-content: center;
}
.ruby-logo {
  width: 170px;
}
h1.subtitle {
  font-size: 14px;
}
.pdb-50 {
  padding-bottom: 50px;
}
.pdt-50 {
  padding-top: 50px;
}