header {
  background: $header-back-color;
}

a {
  color: $logo-second-color;
}

.rnw-link {
  color: $logo-color;
}

.rnw-box {
  border-radius: 0;

  a {
    &:not(.button) {
      color: $logo-color;
    }
  }
}

.notification {
  a {
    &:not(.button) {
      color: $logo-color;
      text-decoration: none;
    }
  }
}

.rnw-tag {
  &:not(body) {
    .is-danger {
      background-color: $logo-color;
    }
  }
}

.rnw-social-link {
  color: $social-common-color;
}

.is-rnw-btn {
  background-color: $logo-color;
}

.button {
  padding-left: 1em;
  padding-right: 1em;
  transition: .5s;

  &.is-danger {
    background-color: $logo-color;
    border: 1px solid $logo-color;

    &:hover,
    .is-hovered {
      background-color: transparent;
      border-color: $logo-color;
      color: $logo-color;
    }
  }
}

.image-circle {
  border-radius: 50%;
}

.center-image {
  display: block;
  margin: 0 auto;
}
