<article class="media">
  <figure class="media-left">
    {% avatar user=author.github_username size=64 %}
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>By <a href="https://www.twitter.com/{{ author.twitter_username }}" target="_blank" class="rnw-link">
          {{ author.name }}</a></strong>
        <small>@{{ author.twitter_username }}</small>
        <br>
        {{ author.bio }}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a href="https://twitter.com/{{ author.twitter_username }}" target="_blank" class="level-item rnw-social-link">
          <i class="icon-twitter"></i>
        </a>
        <a href="https://github.com/{{ author.github_username }}" target="_blank" class="level-item rnw-social-link">
          <i class="icon-github"></i>
        </a>
      </div>
      <div class="level-right">
        {% for category in categories %}
          <a href="/category/{{ category }}">
            <span class="rnw-tag tag is-danger" class="level-item">
              {{ category }}
            </span>
          </a>&nbsp;&nbsp;
        {% endfor %}
      </div>
    </nav>
  </div>
</article>
