<div class="navbar home-nav">
  <div class="navbar-brand">
    <div class="navbar-burger burger is-active" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu is-horizontal-center is-active">
    <a class="navbar-item " href="/category/activities">Activities</a>
    <a class="navbar-item" href="/projects">Projects</a>
    <a class="navbar-item" href="/blog">Blogs</a>
    <a class="navbar-item" href="/archive">Archives</a>
  </div>
</div>
