<a class="navbar-item activities {% if page.url contains 'activities' %} active-tab {% endif %}"
  href="/categories/#activities">Activities</a>
<a class="navbar-item blog {% if (page.url contains 'blog' %} active-tab {% endif %}"
  href="/blog">Blogs</a>
<a class="navbar-item projects {% if page.url contains 'projects' %} active-tab {% endif %}"
  href="/projects">Projects</a>
<a class="navbar-item archive {% if page.url contains 'archive' %} active-tab {% endif %}"
  href="/archive">Archives</a>
