<a class="navbar-item blog {% if (page.url contains 'blog' %} active-tab {% endif %}"
  href="/blog">Blog</a>
<a class="navbar-item meetup {% if page.url contains 'meetup' %} active-tab {% endif %}"
  href="/meetup">Meetup</a>
<a class="navbar-item learn {% if page.url contains 'learn' %} active-tab {% endif %}" id="learn"
  href="/learn">Learn</a>
<a class="navbar-item slack"
  href="https://{{ site.social.usernames.slack }}.slack.com/" target="_blank" rel="noopener noreferrer">Chat</a>
<a class="navbar-item gallery"
  href="https://www.meetup.com/{{ site.social.usernames.meetup }}/photos" target="_blank" rel="noopener noreferrer">Gallery</a>
<a class="navbar-item members {% if (page.url contains 'members' %} active-tab {% endif %}"
  href="/members">Members</a>
<a class="navbar-item talk_suggestions {% if (page.url contains 'talk_suggestion' %} active-tab {% endif %}"
  href="/talk_suggestion">Suggest A Talk</a>
<!-- <a class="navbar-item shop {% if page.url contains 'shop' %} active-tab {% endif %}" id="shop"
  href="#shop">Shop</a>
<a class="navbar-item about {% if page.url contains 'about' %} active-tab {% endif %}" id="about"
  href="#about">About</a> -->
<a class="navbar-item code-of-conduct {% if page.url contains 'code-of-conduct' %} active-tab {% endif %}" id="code-of-conduct"
  href="/code-of-conduct">Code of Conduct</a>
