<nav class="navbar is-transparent rbnw-nav">
  <div class="navbar-brand">
    <a class="navbar-item rbnw-nav-logo" href="/">
      <img src="{{site.url}}/images/rubynepal.png" alt="RubyNepal: The Official Ruby Community of Nepal">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      {% include nav-links.html %}
    </div>
  </div>
</nav>
