<nav class="navbar is-transparent rbnw-nav">
  <div class="navbar-brand">
    <a class="navbar-item rbnw-nav-logo" href="/">
      <img src="{{site.url}}/images/rubynepal.png" alt="Ruby Nepal: The Official Ruby Community">
    </a>
    <div class="navbar-burger burger is-active" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" href="/category/activities">Activities</a>
      <a class="navbar-item" href="/projects">Projects</a>
      <a class="navbar-item" href="/blog">Blogs</a>
      <a class="navbar-item" href="/archive">Archives</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          {% include social-links.html %}
        </div>
      </div>
    </div>
  </div>
</nav>