<p class="control social-link-control">
  <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="is-size-5 rnw-social-link">
    <i class="fab fa-twitter"></i>
  </a>
</p>
<p class="control social-link-control">
  <a href="https://github.com/{{ site.github_username }}" target="_blank" class="is-size-5 rnw-social-link">
    <i class="fab fa-github"></i>
  </a>
</p>
<p class="control social-link-control">
  <a href="https://www.youtube.com/channel/{{site.youtube_channelname}}" target="_blank" class="is-size-6 rnw-social-link">
    <i class="fab fa-youtube"></i>
  </a>
</p>
<p class="control social-link-control">
  <a href="/feed.xml" target="_blank" class="is-size-5 rnw-social-link">
    <i class="fas fa-rss"></i>
  </a>
</p>