$body-background-color: #f7f7f7;

$logo-color: #e23838;
$logo-second-color: #6395BA;

$home-nav-item-color: #444444;
$nav-item-border-color: $logo-color;

$header-back-color: #ffffff;

$social-common-color: #000000;

$link-control-border-color: rgba(0,0,0,0.75);

$footer-background-color: $header-back-color;