$body-background-color: #f7f7f7;

$logo-color: #e23838;
$logo-second-color: #6395ba;

$home-nav-item-color: #444;
$nav-item-border-color: $logo-color;

$header-back-color: #fff;

$social-common-color: #000;

$hover-background-color: rgba(0, 0, 0, 0);
$rnw-hero-tile-child-color: rgba(0, 0, 0, .5);
$link-control-border-color: rgba(0, 0, 0, .75);
$navbar-box-shadow-color: rgba(42, 42, 42, .25);

$footer-background-color: $header-back-color;

$comment-box-background: #fbfbfb;
