$nav-item-font-size: 20px;

$tiny-screen-size: 320px;
$small-screen-size: 480px;
$mini-mobile-size: 600px;
$mobile-size: 768px;
$tablet-size: 769px;
$desktop-size: 1024px;

$hr-top-bottom-size: .5rem;

// Standard browser sizes
$phone-only: 599px;
$tablet-portrait-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1200px;
// $big-desktop-up: 1800px;
