.footer {
  background-color: $footer-background-color;
  position: relative;
  z-index: 2;

  .columns {
    .column {
      @include mobile {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

.group-centered {
  display: flex;
  justify-content: center;
}

.contact {
  text-align: right;
}
