body {
  background: $body-background-color;
  font-family: 'Anek Latin', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Vollkorn', serif;
}

.is-horizontal-center {
  justify-content: center;
}

.rubynepal-logo {
  width: 260px;
}

h1 {
  .subtitle {
    font-size: 14px;
  }
}

.pdb-50 {
  padding-bottom: 50px;
}

.pdt-50 {
  padding-top: 50px;
}

.pdb-10 {
  padding-bottom: 10px;
}

.rnw-hero {
  .tile {
    .title {
      font-size: 1.4rem;
      line-height: 30px;
      margin-bottom: 2rem;
    }

    .is-child {
      box-shadow: 0 0 1px 0 $rnw-hero-tile-child-color;
    }
  }

  .notification {
    border-radius: 0;
  }
}

.jekyll-twitter-plugin {
  height: 300px;
  overflow: auto;
}

.text-small {
  font-size: 14px;
}
