.suggestion-intro {
  display: flex;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
  padding: 20px;
}

.talk-items {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 30px;
  margin-bottom: 15px;

  .talk-item {
    width: 49%;
  }

  .text-truncate {
    display: initial;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.strong-pagination {
  display: flex;
  justify-content: center;
}
