.rbnw-nav-logo img {
  max-height: 4.25rem;
}
.rbnw-nav {
  box-shadow: 1px 0 2px 2px rgba(42,42,42,.25);
  .navbar-item {
    font-size: $nav-item-font-size;
  }
  a.navbar-item:hover {
    color: $logo-color;
  }
}