.home-nav {
  .navbar-item {
    background: $logo-color;
    font-size: $nav-item-font-size;
    color: $home-nav-item-color;
  }
  a.navbar-item:hover {
    color: $home-nav-item-color;
    background-color: $logo-color;
    opacity: 0.8;
  }
}