<div class="member">
  <a href="" class="profile_img_block"><img data-email="{{ member.email }}" class="profile_img" /></a>
  <h3>{{ member.full_name }}</h3>
  <p>{{ member.bio }}</p>
  <div class="members_social">
    <a href="mailto:{{member.email}}" class="gmail" title="{{member.email}}">{{ member.email }}</a>
    <a href="http://twitter.com/{{ member.twitter }}" class="twitter" title="@{{ member.twitter }}">@{{ member.twitter }}</a>
    <a href="http://github.com/{{ member.github }}" class="github" title="{{ member.github }}">{{ member.github }}</a>
  </div>
</div>
