<!doctype html>
  <html lang="en">
  {% include head.html %}
  <body>
    <header class="pdb-10">
      {% include top-bar.html %}
      <div class="container">
        <div class="columns">
          <div class='column'>
            <div class='equal-height pdb-50'>
              <div class='is-flex is-horizontal-center'>
                <a href="/" class='image rubynepal-logo' id='rubynepal-logo'><img src='/images/rubynepal.png' alt="Ruby Nepal Community"></a>
              </div>
              <div class='is-flex is-horizontal-center'>
                <h1 class="subtitle">{{ site.subtitle }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include home-nav.html %}
    </header>
    <div class="container">
      {{content}}
    </div>
    {% include footer.html %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
