---
layout: default
---

<section class="articles pdt-50 pdb-50">
  <div class="column is-10 is-offset-1">
    <div class="card article">
      <div class="card-content">
        <div class="media">
          <div class="media-content has-text-centered">
            <p class="title article-title">{{ page.title}}</p>
            <p class="subtitle is-6 article-subtitle">
              <i class="fas fa-calendar-alt"></i> {{ page.date | date: "%-d %B, %Y"}}
            </p>
          </div>
        </div>
        <div class="content article-body">
          <p>{{ content }}</p>
        </div>
      </div>
      <div class="box rnw-box">
        <span class="has-pulled-left">
          By <a href="" class="rnw-link">{{ page.author }}</a> <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/{{page.author-twitter-name}}" class="rnw-social-link">
            <i class="fab fa-twitter"></i>
          </a>&nbsp;&nbsp;
          <a href="https://github.com/{{page.author-github-name}}" class="rnw-social-link">
            <i class="fab fa-github"></i>
          </a>
        </span>
        <span class="is-pulled-right">
          {% for category in page.categories %}
          <a href="/category/{{category}}" class="button is-danger is-rnw-btn">{{ category }}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</section>