---
layout: default
---

<section class="articles pdt-50 pdb-50">
  <div class="columns">
    <div class="column is-8">
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">{{ page.title}}</p>
              <p class="subtitle is-6 article-subtitle">
                <i class="fas fa-calendar-alt"></i> {{ page.date | date: "%-d %B, %Y"}}
              </p>
            </div>
          </div>
          <div class="content article-body">
            <p>{{ content }}</p>
          </div>
          <div class="share-page has-text-centered">
            <p class="is-size-4">Share on &darr;</p>
            <div class="buttons is-centered">
              <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                 rel="nofollow" target="_blank" title="Share on Twitter" class="button">
                <span><i class="fab fa-twitter"></i> &nbsp;Twitter</span>
              </a>
              <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
                 rel="nofollow" target="_blank" title="Share on Facebook"  class="button">
                <span><i class="fab fa-facebook"></i> &nbsp;Facebook</span>
              </a>
              <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                 rel="nofollow" target="_blank" title="Share on Google+" class="button">
                <span ><i class="fab fa-google-plus"></i> &nbsp;Google</span>
              </a>
            </div>
          </div>
        </div>
        <div class="box rnw-box">
          {% assign author = site.data.authors[page.author] %}
          {% assign categories = page.categories %}
          {% if author %}
          {% include author-category-box.html %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Related Posts
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {% for post in site.related_posts limit:5 %}
            {% assign author = site.data.authors[post.author] %}
            <article class="post">
              <h4>
                <a href="{{post.url}}">{{ post.title }}</a>
              </h4>
              {% if author %}
              <div class="media">
                <div class="media-left">
                  <p class="image is-32x32">
                    <img src="{{author.photo}}" class="image-circle">
                  </p>
                </div>
                {% endif %}
                <div class="media-content">
                  <div class="content">
                    <p>
                      <a href="https://www.twitter.com/{{author.twitter-username}}" class="rnw-link">
                        @{{author.twitter-username}}
                      </a> &nbsp;
                      {% for category in post.categories %}
                      <a href="/category/{{category}}">
                        <span class="rnw-tag tag is-danger">
                          {{ category }}&nbsp;&nbsp;
                        </span>
                      </a>
                      {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
            </article>
            {% if forloop.last == false %}
            <hr>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>